################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/.vs
/CADPrototype/x64/Debug
/CADPrototype/imgui.ini
/CADPrototype/x64/Release
/x64/Release
/CADPrototype/CADPrototype.vcxproj
/glfw-3.4.bin.WIN64
/imgui-1.92.4
/opencascade-7.9.2-vc14-64
/3rdparty-vc14-64
